<div class="w-50 border border-secondary border-1 p-3 m-auto" style="background-color: black; margin-top: 20px;">
  <h3 class="display-5 p-3 mb-2 bg-secondary text-dark " >
    <strong>Project : <%= project.name %></strong>
  </h3>
  <h5 class="display-6 p-3 mb-2 bg-info text-dark">
    Description : <%= project.description %>
  </h5>
  <h4 class="display-6 p-3 mb-2 bg-light text-dark">
    Author : <%= project.author %>
  </h4>
 
</div>
<%-include('./partials/_issues'); %>
